/* --------------------------------------------------------------------------------
Landing Page Grid
-------------------------------------------------------------------------------- */
.landing-grid {
  display: grid;
  grid-template-columns: repeat(12, 8.333337%);
  grid-template-rows: repeat(12, 8.333337%);
}

.landing-img {
  width: 100%;
  min-width: 900px;
  max-height: 625px;
  min-height: 625px;
  object-fit: cover;
  grid-column: 1 / 13;
  grid-row: 1 / 13;
}

.landing-img-overlay {
  grid-column: 1 / 6;
  grid-row: 1 / 13;
  background-color: rgba(0,0,0,.25);
  z-index: 10;
  max-height: 625px;
  min-height: 625px;
  /* padding: 40px 15px 0 25px; */
  place-self: center;
}

