.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 0 0px;
  padding: 10px 30px;
  background-color: #e0fbfc;
  overflow: hidden;
}

/* removes underline from links */
.nav a {
  text-decoration: none;
}
